@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply rounded-xl cursor-pointer duration-300;
}

.btn-blue {
    @apply text-white border border-blue-700 bg-blue-700 hover:bg-blue-600 hover:border-blue-600;
}

.btn-ghost {
    @apply text-black border border-blue-600 hover:bg-blue-600 hover:text-white;
}

.btn-ghost-red {
    @apply text-black border border-red-600 hover:bg-red-600 hover:text-white;
}

.btn-ghost-green {
    @apply text-black border border-green-600 hover:bg-green-600 hover:text-white;

}

.top-section {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.inputFieldClass {
    @apply w-full rounded-lg px-5 py-3 border-2 border-slate-400 bg-slate-100 block mt-4;
}

.inputFieldClassSemi {
    @apply rounded-lg px-5 py-3 border-2 border-slate-400 bg-slate-100 block mt-4;
}

.gradient-modal {
    background-color: rgba(0, 0, 0, 0.6);
}

.clubDashBoard {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/background-main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-gradient {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.card-gradient-past {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.dashBoard-gradient {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.page-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

body {
    @apply bg-slate-200
}