extends baseEmail

block content
  p Hi #{name},
  p #{eventName} event has been registered in metors portal and is organised by #{hostingClub}.
  p Do check out our portal for further details.
  p If you need any help, please don't hesitate to contact me!
  p - Sreyom Sresaan, Founder - meteors