extends baseEmail

block content
  p Hi #{name},
  p A new event has been registered in our metors portal.
  p #{eventName} is organised by #{hostingClub}. Do check out our portal for further details.
  p If you need any help, please don't hesitate to contact me!
  p - Sreyom Sresaan, Founder - meteors